(custom-set-variables '(inhibit-startup-screen t))
(setq backup-directory-alist
      `((".*" . ,temporary-file-directory)))
(setq auto-save-file-name-transforms
      `((".*" ,temporary-file-directory t)))
(defun my-revert-buffer ()
  "revert buffer withot asking for confirmation"
  (interactive "")
  (revert-buffer t t)
  )
(global-set-key '[(f5)] 'my-revert-buffer)
(if window-system (menu-bar-mode 0))
(if window-system (tool-bar-mode 0))
(desktop-save-mode 0)
(load "whitespace.config")
(global-linum-mode 1)
(column-number-mode 1)
