(require 'erlang-start)

(setq erlang-root-dir "/usr/lib/erlang")
(setq exec-path (cons "/usr/lib/erlang/bin" exec-path))
(setq erlang-man-root-dir "/usr/lib/erlang/man")

(add-to-list 'load-path "/home/oleg/.emacs.d/distel/elisp")
(require 'distel)
(distel-setup)

(setq-default compile-command "cd ..; make compile")
(global-set-key [f6] 'compile)
(global-set-key [f7] 'erl-reload-module)
(defun my-sync()
  (interactive)
  'compile
  (erl-reload-modules))
(defun my-sync()
  (interactive)
  (save-buffer)
  (compile "cd ..; rebar compile")
  (sleep-for 2)
  (erl-reload-modules (erl-target-node)))
(global-set-key [f8] 'my-sync)
;;(add-to-list 'auto-mode-alist '("\\.erl?$" . erlang-mode))
;;(add-to-list 'auto-mode-alist '("\\.hrl?$" . erlang-mode))
;;(add-to-list 'auto-mode-alist '("rebar.config" . erlang-mode))
;;(add-to-list 'auto-mode-alist '("reltool.config" . erlang-mode))
(add-to-list 'auto-mode-alist '("\\.erl?$"       . erlang-mode))
(add-to-list 'auto-mode-alist '("\\.hrl?$"       . erlang-mode))
(add-to-list 'auto-mode-alist '("\\.app.src?$"     . erlang-mode))
(add-to-list 'auto-mode-alist '("rebar.config"   . erlang-mode))
(add-to-list 'auto-mode-alist '("reltool.config" . erlang-mode))
