(setq gdb-many-windows t)
(global-set-key '[(f5)]          'gud-cont)
(global-set-key '[(shift f5)]    'gud-stop-subjob)
(global-set-key '[(f6)]          'gud-next)
(global-set-key '[(shift f6)]    'gud-rnext)
(global-set-key '[(f7)]          'gud-step)
(global-set-key '[(shift f7)]    'gud-rstep)
(global-set-key '[(f8)]          'gud-finish)
(global-set-key '[(shift f8)]    'gud-rfinish)
(global-set-key '[(f9)]          'gud-break)
(global-set-key '[(shift f9)]    'gud-remove)
