; MySQL C/C++ coding style
(c-add-style "mysql"
             '("K&R"
               (c-basic-offset . 4)
               (c-comment-only-line-offset . 0)
               (c-offsets-alist . (
;;(statement-block-intro . +)
                                   (knr-argdecl-intro . 0)
                                   (substatement-open . 0)
                                   (label . -)
                                   (statement-cont . +)
                                   (arglist-intro . c-lineup-arglist-intro-after-paren)
                                   (arglist-close . c-lineup-arglist)
                                   (innamespace . 0)
                                   (inline-open . 0)
                                   (statement-case-open . +)
                                   ))
               ))

; InnoDB coding style
(c-add-style "innodb"
             '("K&R"
               (c-basic-offset . 8)
               (c-comment-only-line-offset . 0)
               (c-offsets-alist . ((statement-block-intro . +)
                                   (knr-argdecl-intro . 0)
                                   (substatement-open . 0)
                                   (label . -)
                                   (statement-cont . +)
                                   (arglist-intro . 0)
                                   (arglist-close . c-lineup-arglist)
                                   (innamespace . 0)
                                   (inline-open . 0)
                                   (statement-case-open . +)
                                   ))
               ))


(defun mysql-c-mode ()
  "C mode with adjusted defaults for use with MySQL sources."
  (interactive)
  (c-mode)
  (font-lock-mode 1)
  (setq tab-width 8)
  (setq indent-tabs-mode nil)
  (c-set-style "mysql")
  (setq whitespace-style (quote (tabs trailing lines newline indentation empty)))
  (whitespace-mode t)
)

(defun innodb-c-mode ()
  "C mode with adjusted defaults for use with InnoDB sources."
  (interactive)
  (c-mode)
  (font-lock-mode 1)
  (setq tab-width 8)
  (setq indent-tabs-mode t)
  (c-set-style "innodb")
  (setq whitespace-style (quote (tabs trailing lines newline indentation empty)))
  (setq whitespace-tab-regexp "^[^\t]+\\(\t+\\)")
  (whitespace-mode t)
)
