(c-add-style "scidb"
             '("bsd"
               (c-basic-offset . 4)
               (c-comment-only-line-offset . 0)
               (c-offsets-alist . (
                                   (statement-block-intro . +)
                                   (knr-argdecl-intro . 0)
                                   (substatement-open . 0)
                                   (label . -)
                                   (statement-cont . +)
                                   (arglist-intro . c-lineup-arglist-intro-after-paren)
                                   (arglist-close . c-lineup-arglist)
                                   (innamespace . 0)
                                   (inline-open . 0)
                                   (statement-case-open . +)
                                   ))
               ))
(defun scidb-mode ()
  (interactive)
  (c++-mode)
  (font-lock-mode 1)
  (setq tab-width 4)
  (setq backup-inhibited t)
  (setq-default indent-tabs-mode nil)
  (setq-default show-trailing-whitespace t)
  (c-set-style "scidb")
  )
(add-to-list 'auto-mode-alist '(".*\\.\\(cpp\\|h\\)$" . scidb-mode))
