(defun zreader-erlang-mode ()
  (interactive)
  (erlang-mode)
)

(add-to-list 'auto-mode-alist '("zreader/\\.erl?$"       . zreader-erlang-mode))
(add-to-list 'auto-mode-alist '("zreader/\\.hrl?$"       . zreader-erlang-mode))
(add-to-list 'auto-mode-alist '("zreader/\\.app.src"     . zreader-erlang-mode))
(add-to-list 'auto-mode-alist '("zreader/rebar.config"   . zreader-erlang-mode))
(add-to-list 'auto-mode-alist '("zreader/reltool.config" . zreader-erlang-mode))
